以下のデータを取得して、このノートブックと同じディレクトリにある`data`ディレクトリに配置します。

__Amazon Top 50 Bestselling Books 2009 - 2019__  
  URL:  
  ・https://www.kaggle.com/sootersaalu/amazon-top-50-bestselling-books-2009-2019    
  DATA:  
  ・bestsellers with categories.csv  
  ※ファイル名は`bestsellers_with_categories.csv`として配置。

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

### 1. 行、列の指定による抽出

本のベストセラーのデータをロード。

データの中身を確認。

#### 1-1. 行番号、列番号の指定
行番号、列番号の指定には`pandas.DataFrame.iloc`属性を利用。  
`pandas.DataFrame.iloc`はメソッドではないので、角括弧に番号を指定します。

３行目を抽出。

6列目を抽出。

2〜4行目を抽出。

3〜8行目の1,2,7行目を抽出。

先頭から２つおきに行を抽出。

#### 1-2. 行ラベル、列ラベルの指定
行番号、列番号の指定には`pandas.DataFrame.loc`属性を利用。  
`pandas.DataFrame.loc`もメソッドではないので、角括弧に番号を指定します。

行ラベルを作るために`Author`でグループ分けします。

`Author`が「George Orwell」の行を抽出。

`Author`、 `Reviews`列を抽出。

#### 1-4. 不要な行、列を削除
行番号、列番号の削除には`drop()`を利用します。

削除のテスト用に以下の２つの列を追加します。  
- `to_be_deleted_1`
- `to_be_deleted_2`

まずは`pandas.DataFrame.drop()`で`to_be_deleted_1`列を削除します。

より簡単な方法としてPytonの`del()`を使う方法もあります。  
`del()`で`to_be_deleted_2`列を削除します。

### 2. 条件指定による抽出

`pandas.DataFrame.loc`または`[]`によって条件に合致したデータを抽出します。

`User Rating`が4未満。

2018年以降の作品で、価格が5ドル未満。

著者の名前が「O'Reilly」を含む行を抽出。  
文字列に合致する行の検出には`pandas.Series.str.contains()`を利用します。

ここからは`pandas.DataFrame.query()`を利用します。

レビュー数が50,000以上のデータを抽出。

著者名が「Jeff Kinney」または「Stephen King」のデータを抽出。

### 3. ランダム抽出

200件をランダム抽出。

データを見る限り、同じタイトルの書籍がフォーマット違いで複数回登録されているようです。  
そこで、フォーマット数とレビュー数の関係を分析してみましょう。

今回はデータのサイズが小さいので本来は必要ないのですが、データの50%をランダム抽出することにします。  
その場合、複数回登録されている書籍を中途半端に抽出しない工夫が必要となります。

まず、フォーマットの違う同一の本であるかを識別する値を持つ`author_title`列を追加します。  
値は各行ごとに著者名とタイトルの文字列を繋げたものです。

次に`author_title`列のユニークな値からランダムに50％を抽出し、データ全体からその値を持つものだけを抽出します。

抽出したデータ数がおおよそ40%になっていることを確認。

データを著者名、本のタイトル、ジャンルでグループ化。  
ジャンルとの関係性も知りたいので、ジャンルでもグループ分けしておきます。

フォーマット数とレビュー数（平均を取得）の列を用意します。

X軸をフォーマット数、Y軸をレビュー数としたジョイントプロットでデータを表示。  
どんなことが読み取れますか？

### 4. 独自の分析目標を定義して分析してみましょう

〇〇〇〇〇〇〇〇〇〇を分析。